* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: Inter, sans-serif;
    font-weight: 300;
}


/*-------------------------------- Navigation Bar Styles ----------------------------------*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;

}

nav {
    position: fixed;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background: white;
    z-index: 999;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: #FF2B2B;
    font-size: 24px;
    display: flex;
}

.logo img {
    height: 48px;
    width: 48px;
}


.nav-list {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 51px;
}

.nav-list .signup {
    background: #FF2B2B;
    border-radius: 50px;
    height: 36px;
    width: 100px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.signup a {
    text-decoration: none;
    color: #ffffff;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #2C2C2C;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #000000;
    text-decoration: underline;
}

.navMenuBar {
    display: none;
}

/*------------------------------------- NavBarMediaQuery Container ----------------------------- */

@media (max-width: 768px) {

    .nav-list {
        display: none;
    }

    .menuBtn {
        color: #000000;
        font-size: 26px;
        cursor: pointer;
    }

    nav {
        padding-inline: 100px;
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(8px);
        position: fixed;
        top: 80px;
        height: 100vh;
        left: 0;
        color: #000000;
        background: white;
        transition: all 0.5s ease;
        width: 100vw;
    }

    .navMenuBar {
        display: block;
    }

    .menuBtn {
        display: block;
    }
}


/*------------------------------------- Home Container ----------------------------- */

.homeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 100vh;
    margin-inline: 80px;
    padding-top: 12.5vh;
}

.homeContainer img {
    height: 580px;
    border-radius: 100%;

}

.homeText {
    display: flex;
    flex-direction: column;
}

.text {
    font-weight: bold;
    color: #FF2B2B;
    font-size: 68px;
}

p {
    color: #000000;
    font-size: 24px
}

.order {
    padding-top: 20px;
    display: flex;
    gap: 27px;
}

.orderList a {
    height: 51px;
    width: auto;
    text-decoration: none;
    color: #ffffff;
    background-color: #FF2B2B;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);

}

.watch a {
    height: 51px;
    width: auto;
    text-decoration: none;
    color: #ffffff;
    background-color: #545454;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.playVideo a {
    height: 51px;
    width: 51px;
    color: #1E1E1E;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.playVideo i {
    font-size: 24px;
}

.featuresList {
    padding-block: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 51px;

}

.list {
    width: 280px;
    display: flex;
    gap: 8px;
}

.list p {
    font-size: 14px;
}

.divider {
    border: 0.1px solid #ccc;
}


/*------------------------------------- Menu Container ----------------------------- */

.menu {
    margin-inline: 80px;
    padding-top: 12.5vh;
}

.menuHeaderText {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.menuText {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #f7664f;
}

.menuText1 {
    font-size: 60px;
    font-weight: bold;
    color: #000000;
}

.menuContent {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 51px;
    margin-top: 5vh;
}

.menuContainerP {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    height: 326px;
    width: 326px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.menuContPItem {
    height: 153px;
    width: 153px;
    background: #f7664f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuContPItem img {
    height: 102px;
    width: 139px;
}

.menuContainerP p {
    font-size: 18px;
    color: #555555;
}

.menuContPItem2 {
    height: 153px;
    width: 153px;
    background: #f7664f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuContPItem2 img {
    height: 75px;
    width: 110px;
}

.menuContPItem4 {
    height: 153px;
    width: 153px;
    background: #f7664f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuContPItem4 img {
    height: 92px;
    width: 77px;
}

.menuTextCont1 {
    color: #ff9500;
    margin-top: 18vh;
    font-size: 20px;
    font-weight: bold;
}

.menuTextCont2 {
    height: 158px;
    width: 580px;
    color: #000000;
    font-size: 60px;
    font-weight: bold;
}

.menuContent1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 51px;
    margin-top: 10vh;
}

.menuContainerSM {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    height: 523px;
    width: 446px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.menuContSItemImage img {
    height: 276px;
    width: 276px;
}

.menuTextS1 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    text-align: start;
}

.menuTextS1 p {
    font-size: 22px;
    color: #555555;
    text-align: start;
}

.pR {
    gap: 150px;
    display: flex;
}

.itemDollarPrice {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
}

.itemDollarPrice i {
    color: #ff9500;
}

.rating {
    font-size: 30px;
    color: #454545;
    font-weight: bold;
}

.rating i {
    color: #FFE605;
}


/*------------------------------------- Services Container ----------------------------- */

.aboutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 100vh;
    margin-inline: 80px;
}

.imageContent {
    background: #fa4120;
    height: 362px;
    width: 492px;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
}

.aboutImage img {
    height: 350px;
    width: 466px;
}

.aboutText {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    color: #de705f;
    width: 665px;
}

span {
    margin-top: 5vh;
    color: #000000;
    font-size: 60px;
    font-weight: bold;
}

.aboutText p {
    font-size: 26px;
    color: #555555;
}

.feedback {
    margin-top: 8vh;
    display: flex;
    gap: 27px;
    justify-content: start;
    align-items: center;
}

.feedImage img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.feedText {
    font-size: 26px;
    color: #000000;
    font-weight: bold;
}

.feedRating {
    font-size: 24px;
    color: #454545;
    font-weight: bold;
}

.feedRating i {
    color: #FFE605;
}

.reView {
    color: #807E7E;
    font-size: 24px;
}

.feedRating\&review {
    display: flex;
    gap: 21px;
    justify-content: center;
    align-items: center;
}

/*------------------------------------- offers Container ----------------------------- */

.offers {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-inline: 80px;
    padding-top: 12.5vh;
}

.offersText {
    display: flex;
    flex-direction: column;
    color: #de705f;
    font-size: 20px;
    font-weight: bold;
    width: 729px;
}

.offersText span {
    color: #000000;
    font-size: 60px;
    font-weight: bold;
}

.offersText p {
    color: #555555;
    font-size: 26px;
    margin-top: 3vh;
}

.explore {
    background: #fa4120;
    height: 61px;
    width: 215px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    margin-top: 5vh;
}

.explore a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

.offerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 3vh;
}

.offerBox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.boxImage {
    height: 297.15px;
    width: 277px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: 12px;
}

.boxImage img {
    height: 64px;
    width: 64px;
    padding-bottom: 5px;
}

.boxImage {
    font-weight: bold;
    font-size: 24px;
    color: #fa4120;
}

.boxImage p {
    font-size: 20px;
    color: #555555;
}

/*------------------------------------- Footer Container ----------------------------- */

.footerContent {
    display: flex;
    gap: 60px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    background: #dbcdaf;
    margin-top: 12.5vh;

}

.footerLogoText {
    color: #FF2B2B;
    font-size: 26px;
    font-weight: bold;
    width: 302px;
}

.footerLogoText p {
    color: #555555;
    font-size: 24px;
    font-weight: normal;
}

.footerList {
    font-size: 26px;
    color: #000000;
    font-weight: bold;
}

.footerList p {
    font-size: 24px;
    color: #555555;
    font-weight: normal;
}

.footerList a i {
    color: #000000;
}

.footerList a {
    text-decoration: none;
    color: #555555;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 24px;
    font-weight: normal;
}

.contactList {
    width: 350px;
}

.copyRightText {
    color: #555555;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background: #de705f;
}




