* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

.logo img {
  width: 14vw;
  height: auto;
  display: flex;
  align-items: center;
}

.header {
  height: 80px;
  width: 100%;
  display: flex;
  position: fixed;
  padding: 0 100px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px 0.1px rgba(0, 0, 0, 0.1);
}

.search {
  display: flex;
  z-index: 1000;
  padding: 10px 20px;
}

input {
  width: 30vw;
  height: 6vh;
  padding: 5px;
  border: 1px solid #ccc;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.searchButton {
  width: 4vw;
  height: 6vh;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #FF2B2B;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.headerContent__location {
  text-align: center;
}

.headerContent__location button {
  border: none;
  font-size: 19px;
  background-color: transparent;
}

.currentAddress {
  font-size: 13px;
  color: #4a4a4a;
}

ul li {
  padding: 0 0 0 30px;
  display: inline;
}

a {
  font-size: 16px;
  font-style: bold;
  color: #000000;
  text-decoration: none;
}

sup img {
  width: 50px;
}

a:hover {
  color: #FF2B2B;
}

.menu {
  display: flex;
  align-items: center;
}

.menuBar {
  display: none;
}

.searchIcon {
  display: none;
}

/*-------------------------------- Header MediaQuery Styles ----------------------------------*/
@media (max-width: 768px) {
  .logo img {
    width: 130px;
    height: auto;
    display: flex;
    align-items: center;
  }

  .header {
    padding: 0 20px;
    height: 65px;
  }

  .search {
    display: none;
  }

  .menu {
    display: none;
  }

  .menu.active {
    right: 0;
    top: 60px;
    width: 70%;
    height: 60vh;
    display: flex;
    z-index: 1000;
    padding: 20px 10px;
    position: absolute;
    background: #ffffff;
    align-items: start;
  }

  .menuBar {
    display: block;
  }

  .btnMenu {
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
  }

  .menuBar button {
    border: none;
    font-size: 17px;
    cursor: pointer;
    background-color: transparent;
  }

  ul li {
    display: flex;
    padding: 0 0 0 5px;
    flex-direction: column;
  }

  sup img {
    width: 30px;
  }

  .searchIcon {
    display: block;
  }

  .searchIcon button {
    border: none;
    font-size: 17px;
    cursor: pointer;
    background-color: transparent;
  }

  .search.active {
    left: 0;
    top: 60px;
    width: 100%;
    display: flex;
    z-index: 1000;
    padding: 10px;
    position: absolute;
    background: #ffffff;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  input {
    width: 60vw;
    height: 5vh;
    padding: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #ccc;
  }

  .search button {
    height: 5vh;
    width: 17vw;
    border: none;
    color: white;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #FF2B2B;
  }

  .btnSearch {
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
  }

  .headerContent__location {
    margin-left: 20px;
  }

  .headerContent__location button {
    font-size: 20px;
  }

  .currentAddress {
    font-size: 10px;
  }
}

/*-------------------------------- Home Styles sheet ----------------------------------*/
.home {
  margin: 0 100px 0 100px;
  background-color: #ffffff;
}

.home__container {
  gap: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__img img {
  width: 40vw;
  height: auto;
}

.home__title {
  font-size: 48px;
  font-weight: 500;
  color: #000000;
}

.home__subtitle {
  font-size: 24px;
  font-weight: 400;
}

.order {
  width: 10vw;
  height: 6vh;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 21px;
  margin-top: 3vh;
  border-radius: 10px;
  background-color: #FF2B2B;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.order:hover {
  text-decoration: underline;
}

.divider {
  border: 1px solid #c00606;
}

/*-------------------------------- Header MediaQuery Styles ----------------------------------*/
@media (max-width: 768px) {
  .home {
    margin: 0 20px 0 20px;
  }

  .home__container {
    flex-direction: column-reverse;
  }

  .home__img img {
    width: 90vw;
  }

  .home__title {
    font-size: 19px;
  }

  .home__subtitle {
    margin-top: 3vh;
    font-size: 16px;
  }

  .order {
    width: 34vw;
    height: 5.5vh;
    font-size: 16px;
  }
}

/*-------------------------------- Menu Styles sheet ----------------------------------*/
.menuBody {
  width: 100%;
  height: 80vh;
  padding: 0 112px 0 112px;
  padding-top: 12vh;
  background-color: #f1eeeee8;
}

.menu__container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.menu__title {
  font-size: 30px;
  font-weight: 500;
  color: #262626;
}

.menu__subtitle {
  font-size: 46px;
  font-weight: 600;
  color: #6a4343;
}

.menu__list__data {
  gap: 30px;
  display: flex;
  margin: 10px 0px;
  text-align: center;
  overflow-x: scroll;
  align-items: center;
  justify-content: space-between;
}

.menu__list__data::-webkit-scrollbar {
  display: none;
}

.menu__list__data__item img {
  width: 20vw;
  cursor: pointer;
  max-width: 130px;
  transition: 0.2s;
  border-radius: 50%;
}

.menu__list__data__item p {
  margin-top: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #1f1f1f;
}

.menu__list__data__item img:hover {
  transform: scale(1.1);
}

.menu__list__data__item p:hover {
  transform: scale(1.1);
}

/*-------------------------------- Menu MediaQuery Styles ----------------------------------*/
@media (max-width: 768px) {
  .menuBody {
    height: 70vh;
    padding: 0 24px 0 24px;
  }

  .menu__container {
    flex-direction: column;
  }

  .menu__title {
    font-size: 20px;
  }

  .menu__subtitle {
    font-size: 30px;
    line-height: 32px;
  }

  .menu__list__data {
    gap: 10px;
    margin: 10px 0px;
  }

  .menu__list__data__item p {
    font-size: 12px;
  }
}

/*---- Menu Food Styles sheet ----*/
.menu__food__content {
  background-color: #f1eeeee8;
  height: 100%;
  padding: 0 100px 0 100px;
  width: 100%;
  padding-top: 12vh;
  padding-bottom: 3px;
}

.menu__food__content__title {
  font-size: 30px;
  font-weight: 600;
  color: #262626;
}

.menu__food__content__subtitle {
  font-size: 46px;
  color: #ff6347;
  font-weight: 600;
}

.food__list__data {
  gap: 25px;
  width: 100%;
  display: flex;
  margin: 20px 0px;
  overflow-x: scroll;
  align-items: center;
  justify-content: space-between;
}

.food__list__data::-webkit-scrollbar {
  display: none;
}

.food__list__data__item {
  width: 20vw;
  height: 58vh;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.food__data {
  padding: 12px;
}

.food__list__data__item img {
  width: 20vw;
  height: 33vh;
  cursor: pointer;
  max-width: 19.7vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.food__name {
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
  text-align: left;
  color: #1f1f1f;
}

.rupee__icon {
  font-size: 19px;
  color: rgba(255, 99, 71, 0.885);
}

.price__content {
  gap: 10px;
  display: flex;
  font-size: 17px;
  margin-top: 2px;
  cursor: pointer;
  font-weight: 500;
  color: #1f1f1f;
  justify-content: left;
}

.food__price {
  color: #818080;
  text-decoration: line-through;
}

.rating__content {
  gap: 20px;
  display: flex;
  margin-top: 2px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  justify-content: left;
}

.star__icon {
  color: #025514;
}

.delivery__time {
  color: #4f4f4f;
}

.food__delivery {
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  color: #282727;
}

/*---- Menu Food Styles sheet MediaQuery Styles ----*/
@media screen and (max-width: 768px) {
  .menu__food__content {
    padding-top: 3vh;
    padding: 0 24px 0 24px;
    padding-bottom: 3px;
  }

  .menu__food__content__title {
    font-size: 26px;
  }

  .menu__food__content__subtitle {
    font-size: 28px;
  }

  .food__list__data {
    gap: 10px;
    margin: 10px 0px;
  }

  .food__list__data__item {
    width: 43vw;
    height: 35vh;
  }

  .food__list__data__item img {
    width: 43vw;
    height: 18vh;
    max-width: 42vw;
  }

  .food__name {
    font-size: 12px;
  }

  .rupee__icon {
    font-size: 13px;
  }

  .price__content {
    font-size: 12px;
  }

  .food__price__discount {
    font-size: 12px;
  }

  .rating__content {
    font-size: 12px;
  }

  .star__icon {
    font-size: 12px;
  }

  .delivery__time {
    font-size: 12px;
  }

  .food__delivery {
    font-size: 12px;
  }
}

/*-------------------------------- Offer Styles sheet ----------------------------------*/

.offer__container {
  background-color: #ffffff;
  height: 90vh;
  padding: 0 100px 0 100px;
  padding-top: 13vh;
}

.offer__heading__title {
  font-size: 30px;
  font-weight: 500;
  color: #262626;
}

.offer__heading__subtitle {
  font-size: 28px;
  font-weight: 600;
  color: #9d3636;
}

.offer__list__data {
  gap: 20px;
  display: flex;
  margin: 36px 0px;
  overflow-x: scroll;
  align-items: center;
  justify-content: space-around;
}

.offer__list__data::-webkit-scrollbar {
  display: none;
}

.offer__list__data__item {
  width: 30vw;
  height: 46.5vh;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.offer__image {
  width: 30vw;
  height: 39.5vh;
  display: flex;
  color: white;
  max-width: 30vw;
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 8px;
  background-size: cover;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.offer__bottom__content {
  width: 100%;
  height: 43px;
  display: flex;
  padding: 15px;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  align-items: center;
  background-color: #ff2b2bd3;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*-------------------------------- Offer MediaQuery Styles ----------------------------------*/
@media (max-width: 768px) {
  .offer__container {
    padding: 0 23px 0 23px;
    padding-top: 13vh;
  }

  .offer__heading__title {
    font-size: 19px;
  }

  .offer__heading__subtitle {
    font-size: 18px;
  }

  .offer__list__data {
    gap: 10px;
    margin: 18px 0px;
  }

  .offer__list__data__item {
    width: 86vw;
    height: 38.5vh;
  }

  .offer__image {
    width: 86vw;
    height: 33vh;
    font-size: 17px;
    max-width: 86vw;
  }

  .offer__bottom__content {
    height: 35px;
    padding: 10px;
    font-size: 15px;
  }
}

/*-------------------------------- Footer Styles sheet ----------------------------------*/
.footer-container {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: start;
  padding: 50px 80px 0 80px;
  background-color: #d1d0d0;
  justify-content: space-between;
}

.logo-footer img {
  width: 17vw;
  cursor: pointer;
}

.menu-item-footer ul {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  padding-left: 16px;
  flex-direction: column;
}

.menu-item-footer a:hover {
  color: #000000;
}

.menu-item-footer ul li {
  padding: 6px;
}

.location-delivery ul {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: #4f4f4f;
  flex-direction: column;
}

.location-delivery ul li {
  padding: 3px;
}

.location-name {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.location-address a {
  font-size: 15px;
  font-weight: 500;
  color: #4f4f4f;
}

.location-address a:hover {
  color: #000000;
}

.mail a {
  font-size: 15px;
  font-weight: 500;
  color: #4f4f4f;
}

.mail a:hover {
  color: #000000;
}

.phone a {
  font-size: 15px;
  font-weight: 500;
  color: #4f4f4f;
}

.phone a:hover {
  color: #000000;
}

.location-image {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.social-media ul {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  flex-direction: column;
}

.social-media a:hover {
  color: #000000;
}

.social-media ul li {
  padding: 5px;
}

.created {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  background-color: #ff816b;
}

.footer-bottom-container {
  height: 10vh;
  display: flex;
  font-size: 17px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

/*-------------------------------- Footer MediaQuery Styles ----------------------------------*/
@media (max-width: 768px) {
  .footer-container {
    height: 80vh;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
  }

  .logo-footer img {
    width: 125px;
  }

  .menu-item-footer ul {
    font-size: 16px;
    padding-left: 8px;
  }

  .menu-item-footer ul li {
    padding: 2px;
  }

  h2 {
    font-size: 17px;
  }

  .location-delivery ul {
    padding-left: 0;
    font-size: 15px;
  }

  .location-delivery ul li {
    padding: 0;
  }

  .location-name {
    font-size: 15px;
  }

  .location-address {
    font-size: 14px;
  }

  .location-image {
    display: none;
  }

  .social-media ul {
    padding-left: 0;
    font-size: 15px;
  }

  .social-media ul li {
    padding: 1.5px;
  }

  .footer-bottom-container {
    font-size: 14px;
  }
}


/*-------------------------------- Profile Styles ----------------------------------*/
.profile button {
  border: none;
  font-size: 21px;
  cursor: pointer;
  background-color: transparent;
  padding-top: 11px;
}

.profileDropdown {
  background-color: #ffffff;
  height: 5vh;
  color: #000000;
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
}

.profileDropdown ul li {
  padding: 0px;
}

.profileDropdown .logout-btn {
  font-size: 16px;
  cursor: pointer;
  padding-top: 11px;
}

/*-------------------------------- Profile MediaQuery Styles ----------------------------------*/
@media (max-width: 768px) {
  .profile button {
    font-size: 17px;
    padding-top: 0;
  }

  .profileDropdown {
    height: 4vh;
  }

  .profileDropdown ul li {
    padding: 0px;
  }

  .profileDropdown .logout-btn {
    font-size: 14px;
  }
}