* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

.logo img {
  width: 14vw;
  height: auto;
  display: flex;
  align-items: center;
}

.header {
  height: 80px;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px 0.1px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

input {
  width: 25vw;
  height: 6vh;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search {
  display: flex;
  background: #ffffff;
  z-index: 1000;
  padding: 10px 20px;
}

.search button {
  height: 6vh;
  width: 4vw;
  background-color: #FF2B2B;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.headerContent__location {
  font-size: 26px;
}

ul li {
  display: inline;
  padding: 18px;
}

a {
  color: #000000;
  text-decoration: none;
}

li:hover {
  border: #000000 1.5px solid;
  border-radius: 10px;
  padding: 2px;
}

.menu {
  display: flex;
  align-items: center;
}

.menuBar {
  display: none;
}

.searchIcon {
  display: none;
}

/*-------------------------------- Header MediaQuery Styles ----------------------------------*/
@media (max-width: 768px) {

  .logo img {
    width: 120px;
    height: auto;
    display: flex;
    align-items: center;
  }

  .header {
    height: 60px;
  }


  .search {
    display: none;
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 60px;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
  }

  .menuBar {
    display: block;
  }

  .btnMenu {
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  ul li {
    padding: 5px;
  }

  a {
    font-size: 11px;
  }

  .searchIcon {
    display: block;
  }

  .search.active {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 60px;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;

  }

  input {
    width: 60vw;
    height: 5vh;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .search button {
    height: 5vh;
    width: 17vw;
    background-color: #FF2B2B;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
  }

  .btnSearch {
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .headerContent__location {
    font-size: 20px;
    margin-left: 50px;
  }

}

/*-------------------------------- Home Styles sheet ----------------------------------*/

.home {
  margin: 0 20px 0 20px;
  background-color: #ffffff;
}

.home__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.home__img img {
  width: 40vw;
  height: auto;
}

.home__title {
  font-size: 48px;
  font-weight: 500;
  color: #000000;
}

.home__subtitle {
  font-size: 24px;
  font-weight: 400;
}

.order {
  font-size: 21px;
  width: 10vw;
  height: 6vh;
  border: none;
  background-color: #FF2B2B;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 3vh;
}

.order:hover {
  text-decoration: underline;
}

.divider {
  border: 1px solid #c00606;
}

/*-------------------------------- Header MediaQuery Styles ----------------------------------*/

@media (max-width: 768px) {
  .home__container {
    flex-direction: column-reverse;
  }

  .home__img img {
    width: 90vw;
  }

  .home__title {
    font-size: 17px;
  }

  .home__subtitle {
    margin-top: 3vh;
    font-size: 11px;
  }

  .order {
    width: 32vw;
    height: 5vh;
    font-size: 15px;
  }

}


/*-------------------------------- Menu Styles sheet ----------------------------------*/

.menuBody {
  background-color: #f1eeeee8;
  height: 80vh;
  padding: 0 20px 0 20px;
  padding-top: 12vh;
  width: 100%;
}

.menu__container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.menu__title {
  font-size: 30px;
  font-weight: 500;
  color: #262626;
}

.menu__subtitle {
  font-size: 46px;
  font-weight: 700;
  color: #5d5d5d;
}

.menu__list__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin: 10px 0px;
  overflow-x: scroll;
}

.menu__list__data::-webkit-scrollbar {
  display: none;
}

.menu__list__data__item img {
  width: 20vw;
  max-width: 130px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}

.menu__list__data__item p {
  margin-top: 3px;
  color: #1f1f1f;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.menu__list__data__item img:hover {
  transform: scale(1.1);
}

.menu__list__data__item p:hover {
  transform: scale(1.1);
}

/*-------------------------------- Menu MediaQuery Styles ----------------------------------*/
@media (max-width: 768px) {
  .menuBody {
    height: 70vh;
  }

  .menu__container {
    flex-direction: column;
  }

  .menu__title {
    font-size: 20px;
  }

  .menu__subtitle {
    font-size: 30px;
  }

  .menu__list__data {
    gap: 10px;
    margin: 10px 0px;
  }

  .menu__list__data__item p {
    font-size: 12px;
  }
}


/*---- Menu Food Styles sheet ----*/
.menu__food__content {
  background-color: #f1eeeee8;
  height: 100%;
  padding: 0 20px 0 20px;
  width: 100%;
  padding-top: 6vh;
  padding-bottom: 3px;
}

.menu__food__content__title {
  font-size: 30px;
  font-weight: 600;
  color: #262626;
}

.menu__food__content__subtitle {
  font-size: 46px;
  font-weight: 600;
  color: tomato;
}

.food__list__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin: 20px 0px;
  overflow-x: scroll;
  width: 100%;

}

.food__list__data::-webkit-scrollbar {
  display: none;
}

.food__list__data__item {
  width: 20vw;
  height: 58vh;
  background-color: #ffffff; 
  border-radius: 10px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.food__data {
  padding: 12px; 
}

.food__list__data__item img {
  width: 20vw;
  height: 33vh;
  max-width: 19.7vw;
  cursor: pointer;  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} 

.food__name { 
  color: #1f1f1f;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  text-align: left;
}

.rupee__icon {
  font-size: 19px;
  color: rgba(255, 99, 71, 0.885);
}

.price__content {
  display: flex;
  color: #1f1f1f; 
  gap: 10px;
  justify-content: left;
  margin-top: 2px;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
}

.food__price {
  color: #818080;
  text-decoration: line-through;
}

.rating__content {
  display: flex;
  gap: 20px;
  justify-content: left;
  margin-top: 2px;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
}

.star__icon {
  color: #025514;
}

.delivery__time {
  color: #4f4f4f;
}

.food__delivery {
  color: #282727;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  text-align: left;
}

/*---- Menu Food Styles sheet MediaQuery Styles ----*/
@media screen and (max-width: 768px) {
  .menu__food__content {
    padding-top: 3vh;
  }
  .menu__food__content__title {
    font-size: 26px;
  }

  .menu__food__content__subtitle {
    font-size: 28px;
  }

  .food__list__data {
    gap: 10px;
    margin: 10px 0px;
  }

  .food__list__data__item {
    width: 43vw; 
    height: 35vh;
  }

  .food__list__data__item img {
    width: 43vw;
    max-width: 42vw;
    height: 18vh;
  }

  .food__name {
    font-size: 10px;
  }

  .rupee__icon {
    font-size: 12px;
  }

  .price__content {
    font-size: 10px;
  }

  .food__price__discount {
    font-size: 10px;
  }

  .rating__content {
    font-size: 10px;
  }

  .star__icon {
    font-size: 10px;
  }

  .delivery__time {
    font-size: 10px;
  }

  .food__delivery {
    font-size: 10px;
  }

}

/*-------------------------------- Offer Styles sheet ----------------------------------*/

.offer__container {
  background-color: #ffffff;
  height: 100vh;
  padding: 0 20px 0 20px;
  padding-top: 12vh;
}

.offer__heading__title {
  font-size: 30px;
  font-weight: 500;
  color: #262626;
}

.offer__heading__subtitle {
  font-size: 28px;
  font-weight: 600;
  color: #9d3636;
}

.offer__list__data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 36px 0px;
  gap: 42px;
  overflow-x: scroll;
}

.offer__list__data::-webkit-scrollbar {
  display: none;
}

.offer__list__data__item {
  width: 30vw;
  height: 50vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.offer__image {
  width: 30vw;
  max-width: 30vw;
  height: 100%;
  background-image: url('./assets/offer__1.jpg');
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-repeat: no-repeat;
  justify-content: center;
  color: white;
  font-size: 26px;
  font-weight: 600;
  display: flex;
  align-items: last baseline;
  padding-bottom: 8px;
}

.offer__bottom__content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #ff2b2bd3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 42px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  align-items: center;
  font-weight: 600;
}

/*-------------------------------- Offer MediaQuery Styles ----------------------------------*/
@media (max-width: 768px) {
  .offer__heading__title {
    font-size: 17px;
  }

  .offer__heading__subtitle {
    font-size: 16px;
  }

  .offer__list__data {
    gap: 10px;
    margin: 10px 0px;
  }

  .offer__list__data__item {
    width: 85vw;
    height: 30vh;
  }

  .offer__image {
    width: 85vw;
    max-width: 85vw;
    height: 100%;
    font-size: 17px;
  }

  .offer__bottom__content {
    padding: 10px;
    height: 30px;
    font-size: 15px;
  }

}